<ion-card-content class="navbar navbar-expand-lg navbar-expand-md no-padding ion-card-content-menu">
  <ion-list class="navbar-nav b_scopebar">
    <ion-item style="padding-left: 12px;" class="nav-item ion-no-margin ion-no-padding"><a class="nav-link link" [routerLink]="['/home']">All</a></ion-item>
    <ion-item class="nav-item ion-no-margin ion-no-padding"><a class="nav-link link" href="/movies">Movies</a></ion-item>
    <ion-item class="nav-item ion-no-margin ion-no-padding"><a class="nav-link link" href="/animies">Animies</a></ion-item>
    <ion-item class="nav-item ion-no-margin ion-no-padding"><a class="nav-link link" href="/tv-series">TV Series</a></ion-item>
  </ion-list>
</ion-card-content>
