<ion-card *ngIf="videoService.SelectedVideo != null" class="welcome-card ion-card-video">
  <ion-card-content class="ion-card-content-video">
    <div id="video-player-wrapper">
      <div class="container">
          <div class="video-row">
              <div id="video-container">
                  <video class="video" id="anime-video" controls autoplay>
                      <source [attr.src]="videoService.SelectedVideo.Path" type="video/mp4" />
                  </video>
              </div>
          </div>
          <div *ngIf="videoService.SelectedVideo != null" id="video-info">
              <span>{{ videoService.SelectedVideo.Content }}</span>
          </div>
      </div>
    </div>
  </ion-card-content>
</ion-card>
